.home {
    display: flex;
    height: 700px;
    margin-top: 68px;
    padding: 20px;
    justify-content: space-evenly;
}

.img-content img {
    height: 100%;
    width: 60%;
    border-radius: 5px;
}

.text-content {
    display: flex;
    color: #1C2B35;
    flex-direction: column;
    justify-content: center;
}

.text-content h1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
}

.text-content p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.btn button {
    border: none;
    font-size: 14px;
    background-color: orangered;
    color: white;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 5px;
}