.header {
    background: #1C2B35;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header a {
    text-decoration: none;
    color: white;
    margin-right: 32px;
    justify-content: center;
    align-items: center;
}